
#featuredPro {
    text-align: center;
}
.project-card {
    text-align: center;
    margin: 0 auto;
}

#featuredPro .project-left .image img {
    width: 600px !important;
    max-width: none !important;
    height: auto;
    margin-left: 500px;
}