
#featuredPro {
    text-align: center;
}
.project-card {
    text-align: center;
    margin: 0 auto;
}

.project-left .image img {
    width:450px !important;
    max-width: none !important;
    height: auto;
}